<!---------------------------mindset-->
        <div class="row section-mindset full-height" id="1x-mindset">
            <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6">
                <h2 class="section-header">1X Mission</h2><br>
                <p>You are the First Responder of your own life.</p><br>
                <p>If you are not training to defend what is yours, it can quickly be taken from you.</p><br>
                <p>When you join 1X Tactical, you become part of a team whose beliefs are aligned, who train together and when
                    the situation calls for it rely on one another.</p>
            </div>
        </div>