<div class="row section-top full-height" id="top">
    <div class="col-xs-12">
        <h1 class="tagline-2">Arm Up,<br>Train Up,<br>Stand Up!</h1>
        <!--<a ui-sref="join"><button class="btn btn-danger join-btn">Join Now!</button></a>-->

        <!--signup form newsletter-->
        <div class="hidden-xs col-sm-2 col-md-3 col-lg-4"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <h2 id="newsletter-h">Stay Informed</h2>
            <div class="alert alert-success hidden" id="mailing-list-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Welcome!</strong><br>You have been successfully added to the mailing list. We will keep you informed
                of all new developments at 1X Tactical!
            </div>
            <div class="alert alert-danger hidden" id="mailing-list-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>No Valid Email Address</strong><br>Please enter a valid email address and try again!
            </div>
            <form id="newsletter-signup">
                <div class="input-group">
                    <input type="email" class="form-control" id="newsletter-email" placeholder="Enter your email address...">
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" id="newsletter-submit">Subscribe</button>
                            </span>
                </div>
            </form>
        </div>
    </div>
        <!--mindset-->
    <div class="banner-mindset col-xs-12">
        <h2 class="section-header">1X Mission</h2>
        <p>You are the First Responder of your own life.</p>
        <p>If you are not training to defend what is yours, it can quickly be taken from you.</p>
        <p>When you join 1X Tactical, you become part of a team whose beliefs are aligned, who train together and when the situation
            calls for it rely on one another.</p>
    </div>
    
</div>