<div class="row section-top full-height" id="top">
    <div class="col-xs-12">
        <h1 class="tagline-2">Arm Up,<br>Train Up,<br>Stand Up!</h1>
        <!--<a ui-sref="join"><button class="btn btn-danger join-btn">Join Now!</button></a>-->

        <!--signup form newsletter-->
        <div class="hidden-xs col-sm-2 col-md-3 col-lg-4"></div>
        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
            <h2 id="newsletter-h">Stay Informed</h2>
            <div class="alert alert-success hidden" id="mailing-list-success">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Welcome!</strong><br>You have been successfully added to the mailing list. We will keep you informed
                of all new developments at 1X Tactical!
            </div>
            <div class="alert alert-danger hidden" id="mailing-list-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>No Valid Email Address</strong><br>Please enter a valid email address and try again!
            </div>
            <form id="newsletter-signup">
                <div class="input-group">
                    <input type="email" class="form-control" id="newsletter-email" placeholder="Enter your email address...">
                    <span class="input-group-btn">
                                <button type="button" class="btn btn-danger" id="newsletter-submit">Subscribe</button>
                            </span>
                </div>
            </form>
        </div>
    </div>
    <!--mindset-->
    <div class="banner-mindset col-xs-12">
        <h2 class="section-header">1X Mission</h2>
        <p>Our Mission at 1X Tactical is three fold:</p>
        <ol>
            <li>Provide elite training to our team members that will help them to keep themselves, family and community safe
                during different types of threats whether it is a natural disaster or criminal attack.</li>
            <li>Provide our Team Members access to different tools of survival at close to wholesale pricing in our Armory.</li>
            <li>Support our Veterans by employing those who have honorably served in the Armed Forces and who are Subject Matter
                Experts in different fields of survival as instructors.</li>
        </ol>
    </div>

</div>