<div class="row full-height">
    <div class="col-xs-1 col-md-3"></div>
    <div class="col-xs-10 col-md-6">
        <div ng-if="$ctrl.events.length==0" class="text-center">
            <p>There are no events on the calendar at this time.</p>
        </div>

        <div ng-repeat="event in $ctrl.events">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <div class="card-block">
                    <h4 class="card-title text-center">{{event.name}}</h4>
                    <p class="pull-right"><strong>Time:</strong> {{event.time}}</p>
                    <p><strong>Date:</strong> {{event.date}}</p>
                    <p class="pull-right"><em>Members Save 10% - {{event.price - (event.price/10) |currency}}</em></h4>
                        <p><strong>Price:</strong> {{event.price | currency}}</p>
                        <p><strong>Seat Requirement:</strong> {{event.minSeat}} to {{event.maxSeat}}</p>
                        <hr>
                        <button class="btn-primary pull-right">Add Seat To Cart</button>
                        <p class="card-text">{{event.description}}</p>
                        <br>
                </div>
            </div>
        </div>
    </div>
</div>