<div class="row full-height">
    <div class="hidden-xs col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4">
        <h1 class="text-center">Events Page</h1>


        <div ng-repeat="event in $ctrl.events">
            <div class="card card-inverse" style="background-color: #333; border-color: #333;">
                <div class="card-block">
                    <h2 class="card-title">{{event.name}}</h2>
                    <h4 class="card-title">Date: {{event.date}}</h4>
                    <h4 class="card-title">Time: {{event.time}}</h4>
                    <h4 class="card-title">Price: {{event.price | currency}}</h4>
                    <h4 class="card-title">Members Save 10% and pay only {{event.price - (event.price/10) |currency}}</h4>
                    <h4 class="card-title">Seat Requirement: {{event.minSeat}} to {{event.maxSeat}}</h4>
                    <pre wrap="soft" class="card-text">{{event.description}}</pre>
                    <button ng-hide="showAdd" type="button" class="btn-primary" ng-click="$ctrl.addToCart(event); showAdd=!showAdd ">Add Seat To Cart</button>
                     <button ng-show="showAdd" id="event.id" type="button" class="btn-primary" ng-click="$ctrl.removeFromCart(event.id); showAdd=!showAdd">Remove Seat From Cart</button>
                </div>
            </div>
        </div>