<div class="row section-membership full-height" id="membership">
    <div class="col-xs-1 col-md-2 col-lg-3"></div>
    <div class="col-xs-10 col-md-8 col-lg-6">
        <h2 class="section-header">Team Membership</h2>
        <p>Join 1X Tactical to gain access to a wide range of training and support from experts in their fields.</p>
        <p>Members also enjoy huge discounts on all supplies in the armory. Membership cost is an affordable $99/year. Act now
            for your chance to win $1,000 in gear!</p>
        <p>The first 100 to sign up will be entered into a drawing for <strong>$1,000 of Tactical Gear!</strong></p>
        <br><br>
    </div>
    <br><br>
    <div class="col-xs-12 text-center" id="membership-btn-div">
        <a ui-sref="join"><button class="btn btn-danger join-btn">Join Now!</button></a>
    </div>
    <div class="signup-box col-xs-12 hidden">
        <!--<button type="button" class="btn btn-danger hidden" id="submit-form">Submit</button>-->
    </div>
</div>