<div class="row section-membership full-height" id="membership">
    <div class="col-xs-1 col-md-2 col-lg-3"></div>
    <div class="col-xs-10 col-md-8 col-lg-6">
        <h2 class="section-header">Team Membership</h2>
        <p>Join 1X Tactical to gain access to a wide range of training and support from experts in their fields.</p>
        <p>Members also enjoy huge discounts on all supplies in the armory. Membership cost is an affordable $99/year. Act now
            for your chance to win $1,000 in gear!</p>
        <p>The first 100 to sign up will be entered into a drawing for <strong>$1,000 of Tactical Gear!</strong></p>
        <div class="col-xs-12 text-center" id="membership-btn-div">
            <!--<a ng-show="!$ctrl.user" ng-click="ng.logIn()">Sign Up to Become a Member!</a><br>-->
            <a ui-sref="join" ng-show="$ctrl.user"><button class="btn btn-danger join-btn">Join Now!</button></a><br>
        </div>
        <h2 class="section-header">Benefits</h2>
        <ul class="benefit-list">
            <li>Pricing
                <p>Awesome Pricing on Awesome Products - For $99 a year you are able to purchase guns, ammo, tactical gear,
                    hunting gear, survival gear and much more at close to wholesale pricing. </p>
            </li>
            <li>Training
                <p>Receive discount pricing on our training courses as well as have the opportunity to partner with us in bringing
                    our courses to your area and receive 15% of the profits!</p>
            </li>
            <li>Support Our Veterans
                <p>For the past 13 years we have been at war. Many of our men and woman in the Armed Forces are subject matter
                    experts in different training and tactics but don't work at jobs that require these sets of skills. We
                    are building a roster of vetted subject matter experts from the Military that can pass on to our members
                    their unique set of skills through our training courses.</p>
                <p> - ARM UP, TRAIN UP, STAND UP!</p>
            </li>
        </ul>
    </div>
    <div class="signup-box col-xs-12 hidden">
        <!--<button type="button" class="btn btn-danger hidden" id="submit-form">Submit</button>-->
    </div>
</div>