body {
    background-color: #666;
    color: #e8e8e8 !important;
    font-family: 'Raleway', sans-serif;
    font-size: 16px !important;
}
h1, h2, h3, h4, h5, h6 {
    /*text-align: center;*/
    color: #e8e8e8 !important;
    font-family: 'Black Ops One', sans-serif;
    text-transform: uppercase;
}
.nav li {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.navbar-member {
	text-align: right;
	color: #fff !important;
}
.navbar-member > a {
	color: #e8e8e8;
}
.full-height {
    min-height: 100vh;
    padding-top: 60px;
}
.section-top {
    background-image: url('/backgrounds/freedom.jpg');
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.main-bg {
    background-image: url('/backgrounds/cracked.jpg');
    background-size: cover;
    background-attachment: fixed;
}
.banner-mindset {
	background: rgba(0,0,0,0.6);
	margin-top: 12px;
	padding: 6px 10%;
	text-align: left;
}
.banner-mindset > p {
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.2em;
}
.tagline-2 {
    line-height: 1.5em;
    margin-top: 10vh;
    color: tan !important;
    text-shadow: 2px 2px 2px black;
}
.join-btn {
    border-radius: 10px;
    padding: 20px;
    font-size: 2em;
    font-family: 'Oswald', sans-serif;
}
#newsletter-h {
    margin-top: 10vh;
    color: tan !important;
    text-shadow: 2px 2px 2px black;
    text-decoration: underline;
}
.home-container {
    background-image: url('/backgrounds/cracked.jpg');
    background-attachment: fixed;
    background-size: cover;
}
.section-header {
    text-decoration: underline;
    text-align: center;
    color: tan !important;
    padding-bottom: 20px;
    padding-top: 20px;
}
.section-mindset {
    background-color: rgba(100,0,0,0.25);
    color: #e8e8e8;
    text-align: justify;
    font-size: 24px;
    line-height: 2em;
    text-align: center;
}
.hidden {
    display: none;
}
.section-membership {
    background-color: rgba(100,0,0,0.25);
}
.signup-header {
    color: tan !important;
    padding: 0;
    text-decoration: underline;
}
.signup-box {
    text-align: center;
    width: 100%;
    padding: 20px;
}
.section-benefits {
    background-color: rgba(0,0,0,0.25);
    font-size: 2rem;
}
.benefit-list {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 2em;
}
.benefit-list > li {
    padding-left: 1em;
    padding-bottom: 20px;
}
.benefit-list > li:before {
    content: "\002022";
    color: red;
    padding-right: 8px;
}
.section-armory {
    background-color: rgba(0,0,0,0.25);
    text-align: center;
}
.supplier-list {
    background-color: white;
    text-align: center;
}
.footer {
    background-color: black;
    color: #e8e8e8;
    text-align: center;
    padding: 12px;
}
.footer-link {
    color: indianred !important;
}
/*armory */
.armory-dropdown, .armory-search {
	color: #000;
}

/*events*/
.event-card {
	background-color:tan;
	color: #000;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
}
.card-title {
	color: #000 !important;
}

/*authorization styling*/

input::-ms-clear,
textarea::-ms-clear {
	display: none;
}

header[role=banner] {
	height: 80px;
	display: flex;
	justify-content: space-between;
	background: #3e3c39;
}

header[role=banner] .x-logo {
	color: #fff;
	display: flex;
	text-align: center;
}

header[role=banner] .xtac-logo {
	background: url("1x-logo.png") center center no-repeat;
	background-size: contain;
	width: 100px;
	height: 80px;
	display: inline-block;
}

header[role=banner] .xtac-text {
	display: inline-block;
	margin-left: 15px;
}

header[role=banner] .xtac-text h2 {
	margin-bottom: 0;
}

header[role=banner] .xtac-text h6 {
	margin-top: 0;
	font-size: 12.5px;
}

header[role=banner] .xtac-text a {
	color: #fff;
	text-decoration: none;
}

.main-nav {
	float: right;
	width: 44px;
	height: 100%;
	background: url("auth/cd-icon-menu.svg") no-repeat center center;
	cursor: pointer;
}

.main-nav ul {
	margin-right: 15px;
	position: absolute;
	list-style: none;
	padding: 0;
	top: 0;
	left: 0;
	width: 100%;
	transform: translateY(-100%);
}

.main-nav ul.is-visible {
	transform: translateY(80px);
}

.main-nav a {
	display: block;
	height: 50px;
	line-height: 50px;
	padding-left: 5%;
	background: #292a34;
	border-top: 1px solid #3b3d4b;
	color: #fff;
}

@media only screen and (min-width: 768px) {
	.main-nav {
		width: auto;
		height: auto;
		background: none;
		cursor: auto;
	}

	.main-nav ul {
		position: static;
		width: auto;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		line-height: 80px;
	}

	.main-nav ul.is-visible {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
	}

	.main-nav li {
		display: inline-block;
		margin-left: 1em;
	}

	.main-nav li:nth-last-child(2) {
		margin-left: 2em;
	}

	.main-nav a {
		display: inline-block;
		height: auto;
		line-height: normal;
		background: transparent;
	}

	.main-nav a.x-signin {
		padding: 0.6em 1em;
		border: 1px solid rgba(255,255,255,0.6);
	}

	.main-nav a.x-signup {
		padding: 0.6em 1em;
		border: 1px solid rgba(255,255,255,0.6);
		background: #116cae;
		border: none;
	}
}

/* --------------------------------
 *
 *xsigin/signup popup
 *
 *--------------------------------
 */
.x-user-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(52,54,66,0.9);
	z-index: 3;
	overflow-y: auto;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0, visibility 0 0.3s;
	-moz-transition: opacity 0.3s 0, visibility 0 0.3s;
	transition: opacity 0.3s 0, visibility 0 0.3s;
}

.x-user-modal.is-visible {
	visibility: visible;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0, visibility 0 0;
	-moz-transition: opacity 0.3s 0, visibility 0 0;
	transition: opacity 0.3s 0, visibility 0 0;
}

.x-user-modal.is-visible .x-user-modal-container {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}

.x-user-modal-container {
	position: relative;
	color: #000;
	width: 90%;
	max-width: 800px;
	background: #fff;
	margin: 3em auto 4em;
	cursor: auto;
	-webkit-transform: translateY(-30px);
	-moz-transform: translateY(-30px);
	-ms-transform: translateY(-30px);
	-o-transform: translateY(-30px);
	transform: translateY(-30px);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.x-user-modal-container .x-switcher {
	list-style: none;
	padding: 0;
}

.x-user-modal-container .x-switcher:after {
	content: "";
	display: table;
	clear: both;
}

.x-user-modal-container .x-switcher li {
	width: 45%;
	float: left;
	text-align: center;
}

.x-user-modal-container .x-switcher li:last-child {
	width: 10%;
}

.x-user-modal-container .x-switcher a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #3e3c39;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #809191;
}

.x-user-modal-container .x-switcher a.selected {
	background: #fff;
	color: #505260;
}

@media only screen and (min-width: 600px) {
	.x-user-modal-container {
		margin: 4em auto;
	}

	.x-user-modal-container .x-switcher a {
		height: 70px;
		line-height: 70px;
	}
}

.x-form {
	padding: 1.4em;
}

.x-form .fieldset {
	position: relative;
	margin: 1.4em 0;
}

.x-form .fieldset:first-child {
	margin-top: 0;
}

.x-form .fieldset:last-child {
	margin-bottom: 0;
}

.x-form label.image-replace {
	display: inline-block;
	position: absolute;
	left: 15px;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 20px;
	width: 20px;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	color: transparent;
	text-shadow: none;
	background-repeat: no-repeat;
	background-position: 50% 0;
}

.x-form label.x-username {
	background-image: url("auth/cd-icon-username.svg");
}

.x-form label.x-email {
	background-image: url("auth/cd-icon-email.svg");
}

.x-form label.x-password {
	background-image: url("auth/cd-icon-password.svg");
}

.x-form input {
	margin: 0;
	padding: 0;
}

.x-form input.full-width {
	width: 100%;
}

.x-form input.has-padding {
	padding: 12px 20px 12px 50px;
}

.x-form input.has-border {
	border: 1px solid #d2d8d8;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.x-form input.has-border:focus {
	border-color: #343642;
	box-shadow: 0 0 5px rgba(52,54,66,0.1);
	outline: none;
}

.x-form input.has-error {
	border: 1px solid #d76666;
}

.x-form input[type=password] {
	padding-right: 65px;
}

.x-form input[type=submit] {
	padding: 16px 0;
	cursor: pointer;
	background: #3e3c39;
	color: #fff;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.no-touch .x-form input[type=submit]:hover,
.no-touch .x-form input[type=submit]:focus {
	background: #3e3c39;
	outline: none;
}

.x-form .hide-password {
	display: inline-block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 6px 15px;
	border-left: 1px solid #d2d8d8;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	color: #343642;
}

.x-form .x-error-message {
	display: inline-block;
	position: absolute;
	left: -5px;
	bottom: -35px;
	background: rgba(215,102,102,0.9);
	padding: 0.8em;
	z-index: 2;
	color: #fff;
	pointer-events: none;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
	-moz-transition: opacity 0.2s 0, visibility 0 0.2s;
	transition: opacity 0.2s 0, visibility 0 0.2s;
}

.x-form .x-error-message::after {
	content: '';
	position: absolute;
	left: 22px;
	bottom: 100%;
	height: 0;
	width: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid rgba(215,102,102,0.9);
}

.x-form .x-error-message.is-visible {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.2s 0, visibility 0 0;
	-moz-transition: opacity 0.2s 0, visibility 0 0;
	transition: opacity 0.2s 0, visibility 0 0;
}

@media only screen and (min-width: 600px) {
	.x-form {
		padding: 2em;
	}

	.x-form .fieldset {
		margin: 2em 0;
	}

	.x-form .fieldset:first-child {
		margin-top: 0;
	}

	.x-form .fieldset:last-child {
		margin-bottom: 0;
	}

	.x-form input.has-padding {
		padding: 16px 20px 16px 50px;
	}

	.x-form input[type=submit] {
		padding: 16px 0;
	}
}

.x-form-message {
	padding: 1.4em 1.4em 0;
	line-height: 1.4;
	text-align: center;
}

@media only screen and (min-width: 600px) {
	.x-form-message {
		padding: 2em 2em 0;
	}
}

.x-form-bottom-message {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -30px;
	text-align: center;
}

.x-form-bottom-message a {
	color: #fff;
}

.x-close-form {
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: -40px;
	background: url("auth/cd-icon-close.svg") no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

@media only screen and (min-width: 1170px) {
	.x-close-form {
		display: none;
	}
}

.x-login,
.x-signup,
.x-reset-password {
	display: none;
}

.x-login.is-selected,
.x-signup.is-selected,
.x-reset-password.is-selected {
	display: block;
}

.loginBtn {
	box-sizing: border-box;
	position: relative;
	width: 13em;
	margin: 0.2em;
	padding: 0 15px 0 46px;
	border: none;
	text-align: left;
	line-height: 34px;
	white-space: nowrap;
	border-radius: 0.2em;
	font-size: 16px;
	color: #fff;
}

.loginBtn:before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	width: 34px;
	height: 100%;
}

.loginBtn:focus {
	outline: none;
}

.loginBtn:active {
	box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

.profile-picture {
	height: 80px;
}