<div class="container-fluid">
    <h1>{{$ctrl.name}}</h1>
    <p>Items in cart: ({{$ctrl.cart.length}})</p>
    <table class="table" ng-if="$ctrl.cart.length > 0">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>MSRP</th>
                <th>Members</th>
                <th>Non-Members</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="product in $ctrl.cart">
                <td>{{product.name}}</td>
                <td>
                    <select ng-model="product.quantity" ng-options="o as o for o in [1,2,3,4,5,6,7,8,9,10]"></select>
                </td>
                <td>{{product.msrp * product.quantity | currency}}</td>
                <td>{{product.memberPrice * product.quantity | currency}}</td>
                <td>{{product.nonMemberPrice * product.quantity | currency}}</td>
                <td>
                    <button class="btn btn-xs btn-warning" ng-click="$ctrl.removeProductFromCart(product)">X</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td class="text-right">Total</td>
                <td>{{$ctrl.calculateMsrp() | currency}}</td>
                <td>{{$ctrl.calculateMembers() | currency}}</td>
                <td>{{$ctrl.calculateNonMembers() | currency}}</td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="container-fluid">
    <div class="row">
        <select ng-model="$ctrl.filterBy" style="color:black">
            <option value="name" ng-selected>Name</option>
            <option value="id">ID</option>
        </select>
        <input type="text" ng-model="$ctrl.query[$ctrl.filterBy]" style="color:black">
        <button class="btn-success" type="button">Search</button>
    </div>
    <div class="row">
        <div ng-repeat="product in $ctrl.products | filter: $ctrl.query" class="col-sm-4">
            <div class="shopping-product">
                <img ng-src="{{product.images[0]}}">
                <h3 class="product-name">{{product.name}}</h3>
                <p class="product-name">{{product.description}}</p>
                <p class="product-price">MSRP: {{product.msrp | currency}}</p>
                <p class="product-price">Members: {{product.memberPrice | currency}}</p>
                <p class="product-price">Non-Members {{product.nonMemberPrice | currency}}</p>
                <p class="product-price">Members Save: {{(product.msrp-product.memberPrice)/product.msrp*100 | number : 0}}%</p>
                <button class="btn btn-xs btn-primary" ng-click="$ctrl.addProductToCart(product)">Add To Cart</button>
            </div>
        </div>
    </div>
</div>