<!--------------------------------------------armory-->
<div class="row section-armory full-height" id="armory">
	<div class="col-xs-12">
		<h2 class="section-header">The Armory</h2>
		<h2 style="text-align: center;">COMING SOON!</h2>
<p>1X Tactical Team Members receive discount pricing on quality, brand-name products within the shooting, tactical, camping
	and survival industry.</p>
</div>
<div class="container-fluid">
	<div class="row" style="color:black">
<select ng-model="$ctrl.queryCat">
            <option value="" ng-selected>Select Category</option>
            <option value="Hand Guns" ng-selected>Hand Guns</option>
            <option value="Shot Guns" ng-selected>Shot Guns</option>
            <option value="Rifles" ng-selected>Rifles</option>
            <option value="Ammo" ng-selected>Ammo</option>
            <option value="Tactical Gear" ng-selected>Tactical Gear</option>
            <option value="Hunting" ng-selected>Hunting</option>
            <option value="Prepping" ng-selected>Prepping</option>
            <option value="Knives and Tools" ng-selected>Knives and Tools</option>
            <option value="Apparel" ng-selected>Apparel</option>
            <option value="Optics" ng-selected>Optics</option>
            <option value="Accessories" ng-selected>Accessories</option>
            <option value="Camping and Survival" ng-selected>Camping and Survival</option>
            <option value="Cases and Bags" ng-selected>Cases and Bags</option>
        </select>
<!--<select ng-model="$ctrl.filterPrice">
            <option value="">Price</option>
            <option value="memberPrice">Lowest-Highest</option>
            <option value="-memberPrice">Highest-Lowest</option>
        </select>-->
<input type="text" ng-model="$ctrl.query" placeholder="Product Name">
<button class="btn-success" type="button">Search</button>
</div>

<div class="row">
	<div class="col-md-12">

		<div ng-repeat="product in $ctrl.products | filter: $ctrl.query | filter: $ctrl.queryCat | orderBy: $ctrl.filterPrice" class="col-sm-4">
			<div class="shopping-product">
				<div style="text-align:center">
<img ng-src="{{product.images[0]}}" style="width:200px ">
</div>
<h3 class="product-name">{{product.name}}</h3>
<p class="product-name">{{product.description}}</p>
<p class="product-price">MSRP: {{product.msrp | currency}}</p>
<p class="product-price">Members: {{product.memberPrice | currency}}</p>
<p class="product-price">Non-Members {{product.nonMemberPrice | currency}}</p>
<p class="product-price">Members Save: {{(product.msrp-product.memberPrice)/product.msrp*100 | number : 0}}%</p>
<button class="btn btn-xs btn-primary" ng-click="$ctrl.addProductToCart(product)">Add</button>
</div>
</div>
</div>
</div>
</div>
</div>
<!--<div class="col-xs-12 supplier-list">	
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/1791.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/3s_tactical.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/adaptive_tactical.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/amend2.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/ammo-up.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/armalite.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/axelson_tactical.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/black_scorpion.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/breakthrough.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/carlsons.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/chaos.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/clearchoice_ammunition.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/clipdraw.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/constitution_arms.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/crossfire.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/dark_storm_industries.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/davinci_arms.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/drd_tactical.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/elf.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/explorer_cases.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/first_edge.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/founding_fathers_armory.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/great_day.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/gunfighters_inc.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/gungenics.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/guntec_usa.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/handi-racker.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/handl_defense.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/ht_holsters.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/ironclad_freedom.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/iver_johnson_arms.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/james_madison.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/koda_adventure_gear.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/leatherhead.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/ledwave.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/loadingrepubliclogo.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/magstorage_solutions.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/miltac.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/miss_concealed.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/mtp_firearm.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/nextgenar.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/odin_works.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/offhand_gear.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/outdoor_shooter_supply.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/p80.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/paper_city_firearms.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/phoenix_technology.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/pyramex.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/quicksafes.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/ramrodz.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/rebel_silencers.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/rz_industries.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/seal_1.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/sellmark.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/southern_grind.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/ssp_eyewear.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/stag_arms.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/surefire.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/tac_pac.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/taccon.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/team_never_quit.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/tegra.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/tekmat.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/the_gun_company.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/tippmann_armory.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/tk_tandemkross.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/um_tactical.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/wise_company.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/wm_tactical.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/x_products.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/zcorr.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/zero_bravo.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/zubin.jpg">
                </div>
				<div class="col-xs-6 col-sm-4 col-md-3col-lg-2">
					<img class="supplier-img" src="suppliers/zubin_axe.jpg">
				</div>
            </div>-->