<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="brand" href="/"><img src="/images/1x-navbar.png" class="hidden-xs"><img src="/images/1x-text.png"></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="sr-only">Toggle Navigation</span>
                </button>
        </div>
        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!--<li ui-sref-active="active"><a ui-sref="mindset">Mindset</a></li>-->
                <!--<li ui-sref-active="active"><a ui-sref="benefits">Benefits</a></li>-->
                <li ui-sref-active="active"><a ui-sref="home">Home</a></li>
                <li ui-sref-active="active"><a ui-sref="membership">Membership</a></li>
                <li ui-sref-active="active"><a ui-sref="events">Events</a></li>
                <li ui-sref-active="active"><a ui-sref="armory">Armory</a></li>
                <!--<li ui-sref-active="active" ng-hide="loggedIn"><a href="/" ng-click="SignIn()">Sign In</a></li>
        <li ui-sref-active="active" ng-hide="!loggedIn"><a href="/" ng-click="SignOut()">Sign Out</a></li>-->
                <!--<li><a href="#training" id="nav-training">Training</a></li>-->
                <!--<li><a href="#news" id="nav-news">News</a></li>-->
                <li><a class="x-signin" ng-click="nc.logIn()" ng-if="!nc.member.email">Sign in</a></li>
                <li ng-if="nc.member.email">
                    <p style="color: #fff;" class="">Hi, {{nc.member.displayName.split(' ')[0]}}</p>
                </li>
                <li ng-if="nc.member.email"><img class="profile-picture" ng-src="{{nc.member.photoURL}}" alt="profile" ng-if="nc.member.photoURL"></li>
                <li ng-if="nc.member.email"><a class="x-signin" ng-click="nc.logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="x-user-modal" ng-class="{'is-visible': nc.activeView.length > 0}">
<!--<div class="x-user-modal" ng-hide="nc.activeView.length > 0"></div>-->
    <div class="x-user-modal-container">
        <ul class="x-switcher">
            <li><a ng-class="{'selected': nc.activeView == 'login'}" ng-click="nc.activeView = 'login'">Sign In</a></li>
            <li><a ng-class="{'selected': nc.activeView == 'register'}" ng-click="nc.activeView = 'register'">New Account</a></li>
            <li><a ng-click="nc.activeView = ''">X</a></li>
        </ul>

        <div class="x-login" ng-class="{'is-selected': nc.activeView.indexOf('i') > -1}">
            <form class="x-form" ng-submit="nc.activeView == 'register' ? nc.register(nc.auth) : nc.login(nc.auth)">
                <p class="fieldset" ng-if="nc.activeView == 'register'">
                    <label class="image-replace x-username" for="signup-username">Name</label>
                    <input class="full-width has-padding has-border" ng-model="nc.auth.displayname" type="text" placeholder="Username">
                </p>

                <p class="fieldset">
                    <label class="image-replace x-email" for="login-email">E-mail</label>
                    <input class="full-width has-padding has-border" ng-model="nc.auth.email" type="email" placeholder="E-mail" required>
                </p>
                <p class="fieldset">
                    <label class="image-replace x-password" for="login-password">Password</label>
                    <input class="full-width has-padding has-border" ng-model="nc.auth.password" type="{{nc.showPassword ? 'text': 'password'}}"
                        placeholder="Password">
                    <a class="hide-password" ng-click="nc.showPassword = !nc.showPassword">{{nc.showPassword ? 'hide': 'show'}}</a>
                </p>

                <p class="fieldset">
                    <input type="checkbox" id="remember-me" checked>
                    <label for="remember-me">Remember Me</label>
                </p>

                <p class="fieldset">
                    <input class="full-width" type="submit" value="Login">
                </p>
            </form>

            <p class="x-form-bottom-message"><a ng-click="nc.activeView = 'forgot'">Forgot your Password?</a></p>
            <a ng-click="nc.activeView = ''; nc.show = false;" class="x-close-form">Close</a>
        </div>
        <!-- x-login -->

        <div class="x-reset-password" ng-class="{'is-selected': nc.activeView == 'forgot'}">
            <!-- reset password form -->
            <p class="x-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

            <form class="x-form" ng-submit="nc.forgot(nc.auth)">
                <p class="fieldset">
                    <label class="image-replace x-email" for="reset-email">E-mail</label>
                    <input class="full-width has-padding has-border" ng-model="nc.auth.email" type="email" placeholder="E-mail">
                </p>

                <p class="fieldset">
                    <input class="full-width has-padding" type="submit" value="Reset password">
                    <div class="alert alert-danger" ng-if="nc.error">{{nc.error}}</div>
                </p>
            </form>

            <p class="x-form-bottom-message"><a ng-click="nc.activeView = 'login'">Back to Sign In</a></p>
        </div>
    </div>
</div>