<!--------------------------benefits-->

        <div class="row section-benefits full-height" id="member-benefits">
            <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6">
                <h2 class="section-header">Membership Benefits</h2>
                <ul class="benefit-list">
                    <li>Discounts
                        <ul>
                            <li>Members receive discounted costs on guns, ammunition and tactical gear through 1X Tactical's
                                Armory.
                            </li>
                        </ul>
                    </li>
                    <li>Training
                        <ul>
                            <li>Members receive elite training from those who have served in the Special Operations of the Military
                                and Law Enforcement.</li>
                            <li>Host a Training: Partner with 1X to bring training to your area and share in 15% of the profits
                                of the course.</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>