<!--------------------------benefits-->

        <div class="row section-benefits full-height" id="member-benefits">
            <div class="col-xs-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-10 col-md-8 col-lg-6">
                <h2 class="section-header">Membership Benefits</h2>
                <p>Awesome Pricing on Awesome Products-  For $99 a year you are able to purchase, guns, ammo, tactical gear, hunting gear, survival gear and much more at close to wholesale pricing.  </p>
                <ul class="benefit-list">
                    <li>Training
                        <ul>
                            <li>Receive discount pricing on our training courses as well as have the opportunity to partner with us in bringing our courses to your area and receive 15% of the profits!
                            </li>
                        </ul>
                    </li>
                    <li>Training
                        <ul>
                            <li>Support Our Veterans - </li>
                            <li>For the past 13 years we have been at war.  Many of our men and woman in the Armed Forces are subject matter experts in different training and tactics but don't work at jobs that require these set of skills.  We are building a roster of vetted subject matter experts from the Military that can pass on to our members their unique set of skills through our training courses.</li>
                            <li> - ARM UP, TRAIN UP, STAND UP!</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>